swagger: '2.0'
info:
  title: Transport for London Unified API
  description: To use the API, developers should register for an Application ID and Key.
  version: "0.0.1"
# the domain of the service
host: api.tfl.gov.uk
# array of all schemes that your API supports
schemes:
  - https
produces:
  - application/json
parameters:
  AppId:
    name: app_id
    type: string
    in: query
    required: true
  AppKey:
    name: app_key
    type: string
    in: query
    required: true

paths:
  /StopPoint/Meta/{metadataType}:
    parameters:
      - $ref: '#/parameters/AppId'
      - $ref: '#/parameters/AppKey'
    get:
      summary: 'Gets metadata for methods that act upon the Stops controller.'
      description: 'If metadataType is "categories", gets a list of all of the available stops property categories and keys, grouped by category name. If metadataType is "stoptypes", gets a list of the available types of stops. If metadataType is "modes", gets a list of the valid modes to filter stops by.'
      parameters:
        - name: metadataType
          in: path
          description: The type of metadata to return (One of categories, stoptypes, modes)
          required: true
          type: string
      tags:
        - StopPoint
      responses:
        200:
          description: An array of metadata items
          schema:
            type: array
            items:
              type: string
        404:
          description: Not found error
          schema:
            $ref: '#/definitions/ApiError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/HttpError'

  /AccidentStats/{year}:
    parameters:
      - $ref: '#/parameters/AppId'
      - $ref: '#/parameters/AppKey'
    get:
      summary: Gets all accident details for accidents occuring in the specified year
      parameters:
        - name: year
          in: path
          description: The year for which to filter the accidents on.
          required: true
          type: integer
          format: int32
      tags:
        - Accidents
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/AccidentDetail'
        404:
          description: Not found error
          schema:
            $ref: '#/definitions/ApiError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/HttpError'

# definitions
definitions:
  AccidentDetail:
    type: object
    properties:
      $type:
        type: string
      id:
        type: integer
        format: int32
      lat:
        type: number
        format: double
      lon:
        type: number
        format: double
      location:
        type: string
      date:
        type: string
        format: date-time
      severity:
        type: string
      borough:
        type: string
      casualties:
        type: array
        items:
          $ref: '#/definitions/Casualty'
      vehicles:
        type: array
        items:
          $ref: '#/definitions/Vehicle'
  Prediction:
    type: object
    properties:
      $type:
        type: string
      id:
        type: integer
        format: int32
      operationType:
        type: integer
        format: int32
      vehicleId:
        type: integer
        format: int32
      naptanId:
        type: string
      stationName:
        type: string
      lineId:
        type: string
      lineName:
        type: string
      platformName:
        type: string
      direction:
        type: string
      bearing:
        type: integer
        format: int32
      destinationNaptanId:
        type: string
      destinationName:
        type: string
      timestamp:
        type: string
        format: date-time
      timeToStation:
        type: integer
        format: int32
      currentLocation:
        type: string
      towards:
        type: string
      expectedArrival:
        type: string
        format: date-time
      timeToLive:
        type: string
        format: date-time
      modeName:
        type: string
  Casualty:
    type: object
    properties:
      $type:
        type: string
      age:
        type: integer
        format: int32
  Vehicle:
    type: object
    properties:
      type:
        type: string
  ApiError:
    type: object
    properties:
      $type:
        type: string
      timestampUtc:
        type: string
        format: date-time
      exceptionType:
        type: string
      httpStatusCode:
        type: integer
        format: int32
      httpStatus:
        type: string
      relativeUri:
        type: string
      message:
        type: string
  HttpError:
    type: object
    properties:
      $type:
        type: string
      message:
        type: string
      messageDetail:
        type: string
